html,
body {
  font-family: serif;
}
body {
  margin: 20px;
}

.result {
  min-height: 30px;
  max-width: 100%;
  background-color: rgb(243, 230, 230);
  margin-bottom: 5px;
  text-align: center;
  padding-top: 5px;
  word-wrap: break-word;
}

button {
  height: 24px;
  background-color: rgb(237, 248, 185);
}
button:hover {
  background-color: #999;
}
pre {
  background-color: rgb(231, 248, 209);
}

input {
  width: 40px;
}
