html,
body {
  font-family: serif;
}
body {
  margin: 20px;
}

.result {
  min-height: 30px;
  width: 100%;
  background-color: rgb(243, 230, 230);
  margin-bottom: 5px;
  text-align: center;
  padding-top: 5px;
}

button {
  height: 24px;
  background-color: rgb(237, 248, 185);
}
button:hover {
  background-color: #999;
}
pre {
  background-color: rgb(231, 248, 209);
}

.inp5,
.inp52 {
  width: 30px;
}

span {
}

.raw {
  display: flex;
}
.white {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #000;
}
.black {
  height: 15px;
  width: 15px;
  background-color: #000;
  border: 1px solid #000;
}
